.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 1.5rem;
    color: green;
    padding-bottom: 1rem;
}

.lista {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 2px 5px green inset;
    font-size: 1.2rem;
}

.lista span {
    width: 45%;
}

button {
    width: 20%;
    background-color: bisque;
    color: red;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    font-size: 1rem;
}

button:hover {
    background-color: rgb(255, 47, 47);
    color: bisque;
}