.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 1.5rem;
    color: rgb(255, 47, 47);
    padding-bottom: 1rem;
}

.lista {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgb(255, 47, 47) inset;
    font-size: 1.2rem;
}

.lista span {
    width: 45%;
}

.containerPor {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.containerPor .importe {
    width: 50%;
    text-align: end;
}

.containerPor .porcentaje {
    display: flex;
    background-color: red;
    height: 100%;
    font-weight: bold;
    font-size: 0.8rem;
    width: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
}

button {
    width: 20%;
    background-color: bisque;
    color: red;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    font-size: 1rem;
}

button:hover {
    background-color: rgb(255, 47, 47);
    color: bisque;
}